<!DOCTYPE html>
<html>
<head>
  <title>Basic sigma.js example</title>
  <style type="text/css">
    body {
      margin: 0;
    }
    #container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>

  <!-- text header for graph -->
  <div> <h1>Graph</h1> </div>

  <!-- container where graph is rendered -->
  <div id="container"></div>

  <!-- all the javascript -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/{{ graphjs }}"></script>


</body>
</html>